.contentContainer{
    position: fixed;
    background-color: white;
    top: 25%;
    left: 2%;
    right: 2%;
    bottom: 10%;
    border-radius: 10px;
    /*background-image: url("../images/tableReservation.jpg");*/
    /*background-size: 100% 100%;*/
    /*background-repeat: no-repeat;*/

    -webkit-animation-name: bounceInLeft; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 10s; /* Chrome, Safari, Opera */
    animation-name: bounceInLeft;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes bounceInLeft {
    0%   {background-image: url("../images/animation/img2.jpg");background-size: 100% 100%;background-repeat: no-repeat;}
    25%  {background-image: url("../images/animation/img1.jpg");background-size: 100% 100%;background-repeat: no-repeat;}
    50%  {background-image: url("../images/animation/img3.png");background-size: 100% 100%;background-repeat: no-repeat;}
    100% {background-image: url("../images/animation/img4.jpg");background-size: 100% 100%;background-repeat: no-repeat;}
}

/* Standard syntax */
@keyframes bounceInLeft {
    0%   {background-image: url("../images/animation/img2.jpg");background-size: 100% 100%;background-repeat: no-repeat;}
    25%  {background-image: url("../images/animation/img1.jpg");background-size: 100% 100%;background-repeat: no-repeat;}
    50%  {background-image: url("../images/animation/img3.png");background-size: 100% 100%;background-repeat: no-repeat;}
    100% {background-image: url("../images/animation/img4.jpg");background-size: 100% 100%;background-repeat: no-repeat;}
}